{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% block after_field_sets %}

<script>
var action_desc = {{ original.action_desc|safe }};
django.jQuery(function() {
    django.jQuery("<p></p>").appendTo(".field-action_name div")
    django.jQuery(".field-action_name select").change(function(){
        var sel = django.jQuery(this);
        var action_name = sel.val();
        //var expected_param = action_desc[action_name].expected_param;
        var desc = action_desc[action_name].desc;
        sel.next().html(desc);
    });
})
</script>

{% endblock %}